    .background {
        position: fixed;
        height: 94vh !important;
        width: 100%;
        background-image: url('/assets/loginBG.jpg');
        background-size: cover;
    }

    .card {
        border-radius: 10px;
        height: 75%;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    h3 {
        color: white;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .input-group-prepend span {
        width: 40px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .login_btn {
        color: black;
        background-color: #FFC312;
        width: 100px;
    }

    .login_btn:hover {
        color: black;
        background-color: white;
    }

    .form-group {
        text-align: center;
    }

    .select-div {
        height: 38px;
    }

    .form-control.ng-touched.ng-invalid {
        border: 2px solid rgb(170, 23, 23);
    }

    .form-control.ng-dirty.ng-invalid {
        border: 2px solid rgb(170, 23, 23);
    }