<br><br>
<h1>Delete Coupon</h1>
<br><br>

<div class="row m-0" *ngIf="coupons">
  <label class="control-label offset-1">Select Coupon Title:</label>
  <div class="col-md-8">
    <div class="form-group">
      <select class="custom-select form-control" required (input)="title=$event.target.value" (change)="getCoupon()">
        <option value="" selected hidden>Select Coupon</option>
        <option *ngFor="let coupon of coupons">{{coupon.title}}</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="title">
  <ul class="nav topnav active justify-content-center">
    <li class="nav-item  p-2 flip-card">
      <div class="card flip-card-inner" style="width: 20rem; height:25rem;">
        <div class="flip-card-front">
          <img [src]="coupon.image" alt="Card image cap" width="318px" height="300px">
          <div class="card-block">
            <h4 class="card-title"> <br>
              <p> {{coupon.title}}</p>
            </h4>
          </div>
        </div>
        <div class="flip-card-back">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="card-header">
                <h5>Category</h5>
                <h6>{{coupon.category}}</h6>
              </div>
            </li>
            <li class="list-group-item">
              <h5>Start Date</h5>
              <h6>{{coupon.startDate}}</h6>
              <h5>End Date</h5>
              <h6>{{coupon.endDate}}</h6>
            </li>
            <li class="list-group-item">
              <h5>Amount</h5>
              <h6>{{coupon.amount}}</h6>
              <h5>Price</h5>
              <h6>{{coupon.price}}</h6>
            </li>
            <li class="list-group-item">
            </li>
          </ul>
          <div class="card-block">
            <h5>Discription</h5>
            <h6 class="card-text">{{coupon.description}}</h6>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="text-center">
    <button class="btn btn-warning" (click)="deleteCoupon()">Delete Me!</button>
  </div>
</div>

<br>

<div class="col-md-4 offset-4 text-center">
  <div class="alert alert-danger" role="alert" *ngIf="err">
    {{ err }}
  </div>

  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ success }}
  </div>
</div>