<div class="homeBackground">
  <img src="/assets/homeBackground.png" width="100%" height="100%">
  <div class="top-right">

    <div class="container mt-3" style="background-color: rgba(0, 0, 0, 0.123);opacity: 0.7; text-align: center;">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>
              <span style="font-size: xx-large;">Welcome</span> to our coupon managment system project! <br>
              This project was built throughout our course, we have put a lot of effort into it by facing and solving
              many problems that taught us very much. <br>

              Our project allows companies to generate coupons as part of their advertising and marketing campaigns.
              The system also contains registered customers, these customers can purchase coupons, the system records
              the coupons purchased by each customer.
            </p>
          </div>
          <div class="carousel-item">
            <p>
              The access to the system is divided into three types of clients:
              <br>
              1. Administrator - Has access to every action, manage the list of companies and the list of customers.
              <br>
              2. Company - Manage a list of coupons associated with the company.
              <br>
              3. Customer - Purchase coupons.
            </p>
          </div>
          <div class="carousel-item">
            <p>
              We hope you enjoy our product <span style="color: red;"> <svg width="30px" height="30px"
                  viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path fill-rule="evenodd"
                    d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
                  <path
                    d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                </svg></span>
              <br> <br>
              <span class="font"> Daniel & Bar - Java full-stack development course students, John Bryce college.
              </span> </p>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon "></span>
        </a>
        <br>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <blockquote>
              <h5>Daniel Yaakov</h5>
            </blockquote>

            danielyaakov999@gmail.com<br>

          </div>
          <div class="col-md-6 ">
            <blockquote>
              <h5>Bar Ohayon</h5>
            </blockquote>

            ohayonzzb@gmail.com<br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>