<br><br>
<h1>View Coupons By Price</h1>
<br><br>

<div class="row m-0">
    <label class="col-2 control-label offset-3">Enter Price:</label>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" required [formControl]="price" min="1"
                placeholder="Enter Max Price...">
        </div>
    </div>
    <button class="col-md-1 form-control  btn btn-primary" (click)="getCouponsByMaxPrice()"
        [disabled]="price.errors">Submit</button>
</div>
<div class="alert alert-danger col-md-4 offset-4 text-center" role="alert" *ngIf="!price.valid && price.touched">
    Max price is required.
</div>
<div *ngIf="coupons">
    <ul class="nav topnav active justify-content-center">
        <li class="nav-item p-2" *ngFor="let coupon of coupons" class="flip-card">
            <div class="card flip-card-inner m-2" style="width: 230px; height:17rem ;">
                <div class="flip-card-front">
                    <img [src]="coupon.image" alt="Card image cap" width="230px" height="200">
                    <div class="card-block">
                        <h4 class="card-title"> <br>
                            <p> {{coupon.title}}</p>
                        </h4>
                    </div>
                </div>
                <div class="flip-card-back">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-header">
                                <h5>Category</h5>
                                <h6>{{coupon.category}}</h6>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5>Start Date</h5>
                            <h6>{{coupon.startDate}}</h6>
                            <h5>End Date</h5>
                            <h6>{{coupon.endDate}}</h6>
                        </li>
                        <li class="list-group-item">
                            <h5>Amount</h5>
                            <h6>{{coupon.amount}}</h6>
                            <h5>Price</h5>
                            <h6>{{coupon.price}}</h6>
                        </li>
                        <li class="list-group-item">
                        </li>
                    </ul>
                    <div class="card-block">
                        <h5>Discription</h5>
                        <h6 class="card-text">{{coupon.description}}</h6>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<br><br>
<div class="alert alert-danger col-md-4 offset-4 text-center" role="alert" *ngIf="err">
    {{ err }}
</div>