<div class="row m-0 ">
    <div class="col-2 px-1 bg-dark position-fixed">
        <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-1" style="height: 94vh !important;">
            <nav>
                <br>

                <a [routerLink]="['/customer/purchaseCoupon']" class="nav-link">Purchase Coupon</a>
                
                <br>

                <a [routerLink]="['/customer/viewCustomerCouponsByCategory']" class="nav-link">View Coupons By
                    Category</a>

                <br>

                <a [routerLink]="['/customer/viewCustomerCouponsByPrice']" class="nav-link">View Coupons By Price</a>

                <br>

                <a [routerLink]="['/customer/viewCustomerDetails']" class="nav-link">View Customer Details</a>

                <br>

                <a [routerLink]="['/customer/viewCustomerCoupons']" class="nav-link">View All Coupons</a>

                <br>

            </nav>

        </div>
    </div>

    <div class="col-10 offset-2 position-fixed">
        <div class="nav flex-column flex-nowrap overflow-auto p-1" style="height: 94vh !important">
            <router-outlet></router-outlet>
            <br>
            <br>
        </div>
    </div>
    <app-footer></app-footer>
</div>